

.myform{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.App{
    justify-content: center;
}


.fade-out {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  tbody{
      transition: all 0.5s ease-in-out;
  }


/* table  */

.actions-col{
    width: 25%;
}

table#userdata { 
    width: 60%;
    margin: 5% auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100; 
    background: #333;
    color: #fff;
    text-rendering: optimizeLegibility;
    border-radius: 5px; 
    transition: all 0.3s ease-in-out;
  }
  table#userdata caption { 
    font-size: 2rem; 
    color: #fff;
    margin: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left, center right; 
  }
  table#userdata thead th { font-weight: 600; }
  table#userdata thead th, table#userdata tbody td { 
    padding: .8rem; font-size: 1.4rem;
  }
  table#userdata tbody td { 
    padding: .8rem; font-size: 1.4rem;
    color: #fff; background: #222; 
  }

table#userdata tbody tr {
    transition: height 0.3s ease, opacity 0.3s ease; 
}
table#userdata tr {
    padding: 10px 15px;
}
  table#userdata tbody tr:not(:last-child) { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
  }
  
  @media screen and (max-width: 600px) {
    table#userdata caption { background-image: none; }
    table#userdata thead { display: none; }
    table#userdata tbody td { 
      display: block; padding: .6rem; 
    }
    table#userdata tbody tr  { 
      background: #666; color: #fff; 
    }
    table#userdata tbody td:before { 
      content: attr(data-th); 
      font-weight: bold;
      display: inline-block;
      width: 6rem;  
    }
  }